# My ip para permitir somente o seu acesso ao RDS e ao EC2

# Para obter ser ip externo execute o comando: curl ifconfig.me


variable "ip_externo" {
    type = string
    default = "seu_ip/32"
}  

# EC2

variable "aws_region" {
    type = string
    default = "us-east-1" 
}

variable "pub_key_path" {
    type = string
    default = "~/.ssh/id_rsa.pub"  
}

variable "ubuntu_ami" {
    type = string
    default = "ami-053b0d53c279acc90"
}

variable "aws_ec2_instance" {
    type = string
    default = "t2.micro"
}



# RDS

variable "aws_rds_identifier" {
    type = string
    default = "nome_qualquer"
}

variable "aws_rds_instance" {
    type = string
    default = "db.t3.micro"
}

variable "aws_rds_engine" {
    type = string
    default = "postgres"
}

variable "aws_rds_engine_version" {
    type = string
    default = "15.2"
}

variable "aws_rds_db_name" {
    type = string
    default = "postgres"
}

variable "aws_rds_username" {
    type = string
    default = "user"
}

variable "aws_rds_password" {
    type = string
    default = "pass"
}

variable "aws_snapshot_identifier" {
    type = string
    default = "snapshot"
}

variable "aws_rds_storage" {
    type = string
    default = "20"
}

